*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: montserrat;
    background: var(--primary-color);
    overflow-x: hidden;
}
:root{
    --primary-color: white;
    --secondary-color: black;
}
.dark-theme{
    --primary-color: #1a2669;
    --secondary-color: white;
}
#moon{
    padding-top: 20px;
    width: 30px;
    cursor: pointer;
}
.header{
    height: 80px;
    width: 100%;
    background: var(--primary-color);
}
.logo{
    margin-top: 13px;
    padding-left: 20px;
    width: 50px;
    height: 50px;
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: var(--secondary-color);
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10x;
    border-radius: 3px;
}
a:hover{
    color: blue;
    background: yellow;
    border: 5px solid yellow;
    border-radius: 20%;
    transition: .5s;
}
.active{
    border: 1px solid yellow;
    transition: .5s;
}
nav #icon{
    color: var(--secondary-color);
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
@media (max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width: 909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
    }
}
.barner{
    background-image: url(image/background.png);
    width: 100%;
    height: 100vh;
}
.text{
    padding-top: 10px;
    padding-left: 30px;
}
.video{
    margin-top: 10px;
    padding-left: 30px;
    width: 350;
    height: 250;
}